.video-frame {
  position: relative;
}

.videoplayer {
  width: 100%;
  display: block;

  &-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('./img/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    background-color: rgba(0, 0, 0, 0.2);

    &.playing {
      background: none;
    }
  }
}


.button {
  height: 42px;
  width: 42px;
  border: none;
  overflow: hidden;
  text-indent: -999px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 42px 42px;
  margin: 4*$item_gutter 2*$item_gutter 6*$item_gutter;

  &--play {
    background-image: url('./img/play.svg');
  }

  &--pause {
    background-image: url('./img/pause.svg');
  }

  &--back {
    background-image: url('./img/back.svg');
  }

  &--fullscreen {
    background-image: url('./img/fullscreen.svg');
  }

  &--mute {
    background-image: url('./img/mute.svg');
  }

  &--sound {
    background-image: url('./img/unmute.svg');
  }

  &--next {
    background-image: url('./img/next.svg');
  }
}

.player-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
